.todoLogOut {
  width: 300px;
  height: 100px;
  box-shadow: 4px 5px 10px rgb(0 0 0 / 50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .logOut {
    font-weight: bold;
    margin-bottom: 5%;
  }

  .todoYes {
    width: 100px;
    height: 30px;
    padding-right: 0.5%;
    border: 3px solid #6aafe6;
    background-color: #6aafe6;
  }
  .todoNo {
    width: 100px;
    height: 30px;
    padding-left: 0.5%;
    border: 3px solid aqua;
    background-color: aqua;
  }
}
