.toDoDetailForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .toDoDetailLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    .toDoDetailLogo {
      font-size: 40px;
      font-weight: bold;
      color: #6aafe6;
    }
  }
}
